[submodule "MVC"]
	path = MVC
	url = git@github.com:ngocphat03/AXitMVC.git
	branch = release
[submodule "MVP"]
	path = MVP
	url = git@github.com:ngocphat03/AXitMVP.git
	branch = release
[submodule "Analytics"]
	path = Analytics
	url = git@github.com:ngocphat03/AXitAnalytics.git
	branch = release
[submodule "AssetLoader"]
	path = AssetLoader
	url = git@github.com:ngocphat03/AXitAssetLoader.git
	branch = release
[submodule "UI"]
	path = UI
	url = git@github.com:ngocphat03/AXitUI.git
	branch = release
[submodule "TransitionScene"]
	path = TransitionScene
	url = git@github.com:ngocphat03/AXitTransitionScene.git
	branch = release
